@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/* Variable */
:root {
    /* Variable Color */
    --primary: #70c533;
    --secondary: #939393;
    --black: #26312b;

    /* Variable Ketebalan Font */
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
}

html {
    behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
    position: relative;
}
section {
    padding: 100px 0;
    overflow: hidden;
}

/* navbar */
.navbar-nav {
    background-color: none;
    border-radius: 16px;
}

.navbar-brand {
    color: #fff;
}
.navbar-toggler:focus {
    box-shadow: none;
}
.navbar-nav .nav-link {
    color: #fff;
    text-transform: capitalize;
}

.nav-link:hover {
    color: var(--primary);
}

/* Hero/banner */
.banner-image {
    background-image: url(https://images.unsplash.com/photo-1593642634367-d91a135587b5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 0 2000px rgba(20, 20, 20, 0.493);
}

/* About*/
#about img {
    border-radius: 0 32px 0 32px;
}
.content span {
    font-size: 18px;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: var(--primary);
}
#about .content h2 {
    color: var(--black);
    font-size: 38px;
    font-weight: var(--font-weight-semibold);
}
#about .content p {
    color: var(--secondary);
    line-height: 28px;
    margin-top: 16px;
}
#about .hobby-title h3 {
    font-size: 24px;
    font-weight: var(--font-weight-medium);
}
#about .hobby li {
    list-style: none;
    font-size: 18px;
}
#about .hobby li i {
    color: var(--primary);
}

#about .hobby {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

/* Portfolio */

#portfolio h2 {
    font-size: 38px;
    letter-spacing: 4px;
}
#portfolio a {
    color: var(--secondary);
}

#portfolio a:hover {
    color: var(--primary);
}
#portfolio .gallery_product {
    margin-bottom: 24px;
}

/* Service */
#service h2 {
    font-size: 38px;
    letter-spacing: 4px;
}
#service .card img {
    width: 64px;
}
#service .card h3 {
    font-size: 18px;
    font-weight: var(--font-weight-medium);
}
#service .card-body {
    padding: 24px 40px;
}
#service .card-body p {
    color: var(--secondary);
}

/****** Mobile Version ******/
@media (max-width: 990px) {
    .navbar-nav {
        background-color: #212529 !important;
    }

    #about .content h2 {
        font-size: 28px;
    }
}
